
.add-new-expense-form .receipt-form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 25px;
}

.add-new-expense-form .receipt-form-fields {
    display: flex;
}

.add-new-expense-form .receipt-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 5px 5px 5px;
}

.add-new-expense-form .receipt-form-field span:first-child {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5;
  color: #353a40;
}


/* action bnuttons */
.add-new-expense-form  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.add-new-expense-form  .action-buttons button {
    margin: 3px;
}

.add-new-expense-form  .action-buttons button:first-child {
  background-color: #ffffff;
  color: #6b7480;
}

.add-new-expense-form  .action-buttons button:last-child {
  background-color: #51c1c3;
  border-color: #51c1c3;
}
