.request-side-bar {
    width: 100vw;
    margin: 0 0 0px 30px;
    padding: 20px 20px 0px 0px;
    background-color: #ffffff;
}

/* card */
.request-side-bar-status-card {
    height: 86px;
    margin: 0px 0px 20px 15px;
    border-radius: 6px;
    border: solid 1px #009d43;
    background-color: #edfff5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-side-bar-status-card-title {
    margin: 10px  0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #006e2f;
}

.request-side-bar-status-card-desc {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #009d43;
}

/* coin list */

.request-side-bar-coin {
    padding: 10px;
    margin: 0px 0px 20px 15px;
    border-radius: 6px;
    border: solid 1px #d0d3d6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.request-side-bar-coin .title {
    margin: 0px 0 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color: #6b7480;  
}

.request-side-bar-coin .value {
    width: 152px;
    height: 32px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #053d4e;
}


.request-side-bar-coin .balance-details {
    display: flex;
    align-items: center;
}


.request-side-bar-coin .balance-details .divider {
    width: 1px;
    height: 37px;
    margin: 3px 21px 0;
    border: solid 1px #f0f3f7;
}

.request-side-bar-coin .balance-details div {
    display: flex;
    align-items: center;
}


.request-side-bar-coin .balance-details div div {
    display: flex;
    flex-direction: column;
}

.request-side-bar-coin .balance-details .details-icon {
    color: #9ea4ac;
    font-size: 16px;
}

.request-side-bar-coin .balance-details .details-title {
    font-size: 12px;
    color: #9ea4ac;
}

.request-side-bar-coin .balance-details .details-value {
    font-size: 16px;
    color: #32363b;
} 

/* extract */
.request-side-bar-coin .extract-title {
    margin: 30px 0px 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #353a40;
    align-self: flex-start;
}

.request-side-bar-coin .extract-divider {
    width: 100%;
    border: solid 1px #f0f3f7;
}

.request-side-bar-coin .extract-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.request-side-bar-coin .extract-table div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.request-side-bar-coin .extract-table div span:first-child {
   width: 70%;
}

.request-side-bar-coin .extract-table .extract-table-row span:first-child {
    display: flex;
    flex-direction: column;
}

.request-side-bar-coin .extract-table .extract-table-head span {
    margin: 10px 0px 0px 0px;
    font-size: 10px;
    line-height: 1.75;
    color: #053d4e;
}

.request-side-bar-coin .extract-table .extract-table-row .extract-value {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #053d4e;
}

.request-side-bar-coin .extract-table .extract-table-row .extract-key {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    color: #053d4e;
}

.request-side-bar-coin .extract-table .extract-table-row .extract-desc {
    font-size: 10px;
    font-weight: 300;
    color: #9ea4ac;
}
