.request-side-bar {
    width:  400px;
    padding: 20px 20px 0px 0px;
    background-color: #ffffff;
}

/* card */
.request-side-bar-status-card {
    height: 86px;
    margin: 0px 0px 20px 15px;
    border-radius: 6px;
    border: solid 1px #009d43;
    background-color: #edfff5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-side-bar-status-card-title {
    margin: 10px  0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #006e2f;
}

.request-side-bar-status-card-desc {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #009d43;
}