.accountability-request-item {
    height: 154px;
    margin: 24px 1px 24px 2px;
    padding: 24px 81px 19px 48px;
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    flex: 1;
    align-items: flex-start;
}


.accountability-request-item-icon {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.accountability-request-item-icon-container {
    width: 59px;
    height: 59px;
    margin: 0 9px 10px 8px;
    padding: 21px 17px 17px;
    background-color: #ecf8f8;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountability-request-item-icon-container i{
    font-size: 20px;
    color: #03a046;
    padding: 0px;
}

.accountability-request-item-icon-date {
    margin: 10px 0 0;
    font-size: 14px;
    line-height: bold;
    letter-spacing: normal;
    color: #545b64 !important;
}

.accountability-request-item-type {
    display: flex;
    flex-direction: column;
}

.accountability-request-item-type-title{
  height: 16px;
  margin: 0 488px 3px 0;
  font-size: 12px;
  font-weight: bold;
  color: #d0d3d6;  
}

.accountability-request-item-type-content{
    margin: 3px 0 0;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #545b64; 
  }